@font-face {
  font-family: "EzerEuro";
  src: url("../fonts/EzerEuro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EzerEuro";
  src: url("../fonts/EzerEuro-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansArabic";
  src: url("../fonts/NotoSansArabic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'EzerEuro';
  font-weight: bold;
  color:white;
  background-image: url("../svg/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* Main container - always 9:16, letterboxed by viewport */
.main-container {
  aspect-ratio: 9 / 16;
  width: 100vw;
  height: 100vh;
  max-width: calc(100vh * 9 / 16);
  max-height: calc(100vw * 16 / 9);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/* Page content fills the container */
.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Top section - 50% of viewport */
.top-part {
  position: relative;
  width: 100%;
  height: 50%;
  flex-shrink: 0;
}

.language-choice {
  position: absolute;
  top: 8%;
  right: 12%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  z-index: 4;
  direction: ltr; /* Force LTR layout regardless of page direction */
}


.lang-button {
  background-image: url("../svg/lang\ block.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 200%;
  height: 300%;
  color: black;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 100%;
  box-sizing: border-box;
}

.lang-button.selected {
  background-image: url("../svg/lang\ block selected.svg");
  color: white;
}
/* Rocket choices container with rocket background */
.rocket{
  position: absolute;
  left: 20%;
  /*! bottom: 4%; */
  width: 31%;
  height: 112%;
  background-image: url("../png/rocket no blocks.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  z-index: 2;
  top: 7%;
}

.rocket-choices {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /*! gap: 3%; */
    /*! row-gap: 2.9%; */
  
    /*! width: 98%; */
    height: 58%;
    padding-right: 24%;
    padding-top: 82%;
    /*! padding-bottom: 21%; */
    padding-left: 20%;
}


.white-block {
  background-image: url("../svg/white\ block.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
 border: none;
  padding: 8%;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevents text from affecting button size */
  font-weight: inherit;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.halo {
  position: absolute;
  bottom: 4.5%;
  width: auto;
  z-index: 1;
  left: 24%;
  right: -8%;
}

.launch-button {
  background-image: url("../svg/launch.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0%;
  left: 55%;
  width: 27%;
  height: 12%;
  z-index: 4;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  color: black;
  font-size: 2vh;
  text-align: center;
  line-height: 4vh;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.2s;
}

.launch-button:disabled,
.launch-button.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
/* Description text - respects RTL/LTR */
.description {
  position: absolute;
  top: 22%;
  /*! inset-inline-end: 71%; */
  max-width: 48%;
  text-align: start;
  z-index: 3;
  /*! left: 44%; */
  right: 4%;
}


.description-title {
  font-size: clamp(1.5rem, 4vh, 4rem);
  font-weight: 700;
  margin-bottom: 1.5%;
  color: white;
  line-height: 1.2;
}

.description-subtitle {
  font-size: clamp(0.9rem, 1.25vh, 1.25rem);
  margin: 0;
  opacity: 0.9;
  color: white;
}

.choice-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7%;
  row-gap: 2.9%;
  /*! width: 98%; */
  height: 100%;
  padding-right: 8%;
  padding-top: 11%;
  padding-bottom: 10%;
  padding-left: 8%;
  z-index: 3;
  direction: ltr; /* Force LTR layout regardless of page direction */
}


.purple-block {
  background-image: url("../svg/purple\ block.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 8%;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevents text from affecting button size */
  font-weight: inherit;
  transition: background-image 0.2s, opacity 0.2s;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.purple-block.selected {
  background-image: url("../svg/purple\ block selected.svg");
}

.purple-block.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

/* Wordcloud page styles */
.wordcloud-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.wordcloud-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin: 2rem 0;
}

.wordcloud-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.back-button {
  background-image: url("../svg/launch.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 8%;
  cursor: pointer;
  width: clamp(8rem, 20vw, 15rem);
  height: clamp(3rem, 8vw, 5rem);
  box-sizing: border-box;
  color: black;
  font-family: inherit;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: inherit;
  transition: background-image 0.2s;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-top: 1rem;
}