<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- <meta name="viewport"
            content="width=device-width,
                    initial-scale=1.0,
                    maximum-scale=1.0,
                    user-scalable=no"> -->
    <title>My Webpage page name</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="main-container">
        <div class="page-content">
            <div class="selection-container">
                <div class="top-part">
                    <div class="language-choice">
                        <button class="lang-button" type="button" data-lang="en">EN</button>
                        <button class="lang-button" type="button" data-lang="he">HE</button>
                        <button class="lang-button" type="button" data-lang="ar">AR</button>
                    </div>
                    <img src="static/svg/halo.svg" class="halo">
                    <img src="static/png/star1.png" class="star star1">
                    <img src="static/png/star2.png" class="star star2">
                    <img src="static/png/star3.png" class="star star3">
                    <img src="static/png/star4.png" class="star star4">
                    <img src="static/png/star5.png" class="star star5">
                    <div class="rocket">
                        <div class="rocket-choices">
                            <button class="rocket-button" data-index="0"></button>
                            <button class="rocket-button" data-index="1"></button>
                            <button class="rocket-button" data-index="2"></button>
                        </div>
                        <button class="launch-button" data-key="goToCloud"></button>
                    </div>
                    <div class="description">
                        <h1 class="description-title" data-key="selectionPage"></h1>
                        <p class="description-subtitle" data-key="selectObjects"></p>
                    </div>
                </div>
                <div class="button-container">
                    <div class="row row-3"><button  class="purple-block" data-key="item7"></button><button  class="purple-block" data-key="item1"></button></button><button  class="purple-block" data-key="item8"></button></div>
                    <div class="row row-3"><button  class="purple-block" data-key="item4"></button><button  class="purple-block" data-key="item6"></button><button  class="purple-block" data-key="item10"></button></div>
                    <div class="row row-2"><button  class="purple-block" data-key="item2"></button><button  class="purple-block" data-key="item11"></button></button></div>
                    <div class="row row-2"></button><button  class="purple-block" data-key="item12"></button></button><button  class="purple-block" data-key="item3"></button></div>
                    <div class="row row-2"><button  class="purple-block" data-key="item5"></button><button  class="purple-block" data-key="item9"></button></div>
                </div>
            </div>
            <div class="wordcloud-container inline-wordcloud is-hidden">
                <div class="top-part">
                    <img src="{{url_for('static', filename='svg/halo.svg')}}" class="halo final-position">
                    <img src="{{url_for('static', filename='png/star1.png')}}" class="star star1 final-position">
                    <img src="{{url_for('static', filename='png/star2.png')}}" class="star star2 final-position">
                    <img src="{{url_for('static', filename='png/star3.png')}}" class="star star3 final-position">
                    <img src="{{url_for('static', filename='png/star4.png')}}" class="star star4 final-position">
                    <img src="{{url_for('static', filename='png/star5.png')}}" class="star star5 final-position">
                </div>
                <div class="wordcloud-image-container">
                    <img id="wordcloud-image" src="{{url_for('static', filename='wordcloud/wordcloud_en.png')}}" alt="Word Cloud">
                </div>
                <div class="back-button-container">
                    <button class="back-button" data-key="backToSelection"></button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>

</html>