<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Word Cloud</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="main-container">
        <div class="page-content">
            <div class="wordcloud-container">
                <div class="top-part">
                    <div class="language-choice">
                        <button class="lang-button" type="button" data-lang="en">EN</button>
                        <button class="lang-button" type="button" data-lang="he">HE</button>
                        <button class="lang-button" type="button" data-lang="ar">AR</button>
                    </div>
                </div>
                <div class="wordcloud-image-container">
                    <img id="wordcloud-image" src="{{url_for('static', filename='wordcloud/wordcloud_en.png')}}" alt="Word Cloud">
                </div>
                <button class="back-button" data-key="backToSelection"></button>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>

</html>
